body {background-color: #F2DC5D;}

p {text align: center; color: purple; font-size: 60%;}

h2 {text-align: center; font-size: 300%;}

img {size: ;}


a{color: blue; font-size: 150%;}

ul {font-size: 200%; font-family: courier ;}

p {font-size: 200%}
