body {background-color: #F2DC5D;}

p {text align: center; color: purple; font-size: 60%;}

h2 {text-align: center; font-size: 300%;}

img {size: ;}


a{color: blue; font-size: 150%;}

ul {font-size: 200%; font-family: courier ;}

p {font-size: 200%}

.cities {
  background-color: Pink;
  color: white;
  margin: 20px;
  padding: 20px;
} 
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

body {background-color: #EDAFB8;}

p {text align: center; color: purple; font-size: 60%;}

h1 {text-align: center; color: HotPink; font-size: 300%;}
h2 {text-align: center; color: Purple; font-size: 300%;}

img {size:  ;}
